*{
  font-family: 'Manrope', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D9D9D9;
}
main{
  padding: 0 5%;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 667px;
  max-height: 667px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/brand/header-background.jpg");
  background-size: cover;
  background-position: center;
}
h1{
  color: #FFD15B;
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 66px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.brand{
  position: absolute;
  width: 207px;
  height: 25px;
  left: 69px;
  top: 51px;
  background: url("../assets/brand/logo.png");
}
.searchbar{
  width: 100%;
  position: relative;
}
.searchbar__input{
  width: 100%;
  height: 72px;
  background: #FFFFFF;
  border-radius: 11px;
  padding-left: 35px;
  border: none;
  color: #7A7A7A;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}
.searchbar__input::placeholder{
  font-size: 18px;
}
.searchbar__icon{
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.vertical__container{
  max-width: 70vw;
}
.horizontal__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 38px;
}
.recipe__counter{
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #1B1B1B;
}
.filter__section{
  padding: 0 3%;
}
.filter__row{
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 65px;
  align-items: flex-start;
}
.filters__advanced--container{
  border-radius: 11px;
  background: #FFFFFF;
  border: none;
  min-height: auto 56px;
  height: auto;
  max-height: 315px;
  weight: 195px;
  min-width: 195px;
  max-width: 195px;
  transition: all 0.3s ease-in-out;

  overflow: clip;
}
.filters__advanced--container:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.filters__advanced--header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  background: #FFF;
  font-style: normal;
  font-weight: 500;
  font-family: Manrope;
  font-size: 16px;
  line-height: 22px;
  color: #1B1B1B;
  padding: 0 16px;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 2;
  position: relative;
}
.filters__advanced--searchbar{
  width: 163px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #C6C6C6;
  font-size: 14px;
  font-family: Manrope;
  color: #7A7A7A;
  display: none;
  margin: 17px 16px;
  margin-top: 0;
  position: absolute;
  background: #FFFFFF;
  z-index: 2;
}
.filters__advanced--searchbar svg{
  width: 13.5px;
  height: 14px;
  flex-shrink: 0;
  color: #7A7A7A;
}
.filters__advanced--list{
  overflow-y: scroll;
  overflow-style: none;
  max-height: 400px;
  padding: 0;
  display: none;
  scrollbar-width: none;
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  padding-top: 56px;
  width: 195px;
  border-radius: 0px 0px 11px 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  transform: translateY(-25px);
}
.filters__advanced--list:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.filters__advanced--option{
  font-size: 14px;
  font-family: Manrope;
  color: #1B1B1B;
  list-style: none;
  padding: 17px 16px;
}
.filters__advanced--option:hover, .filters__advanced--option-selected{
  background: #FFD15B;
  cursor: pointer;
}
.filters__advanced--option-hidden{
  display: none;
}
.filters__advanced--list--active, .filters__advanced--searchbar--active{
  display: block !important;
}
.filters__advanced--title{
  color: #1B1B1B;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 500;
}
.filters__advanced--arrow{
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}
.filters__advanced--arrow--active{
  transform: rotate(0deg);
}
.recipe__wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 55px;
}
.recipe__card--container{
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 731px;
  border-radius: 21px;
  background: #FFF;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  overflow: clip;
}
.recipe__card--thumbnail{
  max-height: 253px;
  object-fit: cover;
  margin-bottom: 20px;
}
.recipe__card--title, .recipe__card--subtitle, 
.recipe__card--content, .recipe__card--ingredients{
  padding: 0px 25px;
}
.recipe__card--title{
  color: #000;
  font-size: 18px;
  font-family: Anton;
  font-weight: 400;
}
.recipe__card--subtitle{
  color: var(--grey, #7A7A7A);
  font-size: 12px;
  font-family: Manrope;
  font-weight: 700;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.recipe__card--content-wrapper, .recipe__card--ingredients-wrapper{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 330px;
  overflow-style: none;
  overflow-y: clip;
}
.recipe__card--ingredients-wrapper{
  margin-top: 15px;
  max-height: 250px;
}
.recipe__card--content{
  color: var(--black, #1B1B1B);
  font-size: 14px;
  font-family: Manrope;
  max-height: 80px;
  overflow: auto;
}
.recipe__card--content:hover{
  cursor: pointer;
}
.recipe__card--ingredients{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}
.recipe__card--ingredient{
  flex: 40%;
}
.recipe__card--ingredient > *{
  margin: 0;
  padding: 0;
}
.recipe__card--ingredient-title{
  color: var(--black, #1B1B1B);
  font-size: 14px;
  font-family: Manrope;
  font-weight: 500;
}
.recipe__card--ingredient-quantity{
  color: var(--grey, #7A7A7A);
  font-size: 14px;
  font-family: Manrope;
}
.recipe__card--time{
  display: inline-flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 14px;
  background: var(--yellow, #FFD15B);
  width: 65px;
  height: 16px;
  transform: translate(260px, -250px);
}
.recipe__card--time-icon, .recipe__card--time-text{
  color: var(--black, #1B1B1B);
  text-align: center;
  font-size: 11px;
  font-family: Manrope;
}
.recipe__card--time-icon{
  width: 16px;
  height: 16px;
}
.tags__container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 3%;
}
.tag{
  display: inline-flex;
  padding: 17px 18px;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  border-radius: 10px;
  background: #FFD15B;
  min-width: 100px;
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.tag__close-icon{
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tag__close-icon:hover{
  transform: scale(1.5);
}